<table style="font-family: Montserrat;width:700px; height:847px; padding: 25px;background-color: #f5f8fa;">
    <tr>
        <td>
            <table class="content" style="width: 700px;background-color: #ffffff;">
                <tr>
                    <td>
                        <table class="container-image" align="center"
                               style="width: 700px;height:180px;padding-top:40px;">
                            <tr>
                                <td>
                                    <div class="logo" align="center"><img src="cid:logo"/></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="thanks" align="center" style="margin-top:60px;"><img src="cid:thanks"
                                                                                                     style="width:233px; height:79px"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table class="detail-content"
                               style="margin-top:32px;width:620px; padding: 0px 40px;object-fit: contain; font-size: 20px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.4; letter-spacing: normal; color: #303030;">
                            <tr>
                                <td>
                                    Dear {0},<br/><br/>
                                    Welcome to Achiezy, the place where you can find the best coach that will help you
                                    achieve your goals! We are here to serve you and looking forward to working with.
                                    Questions? Suggestions? Insightful showe thoughts? <span class="shoot-us"
                                                                                             style="color: #007aff;">Shoot us an email.</span>
                                    <br/><br/>
                                    <span>Best,</span>
		<br/><br/>
		<span>Achiezy</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="height:30px"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="cid:button" style="width:618px; height:46px;"/>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="height:30px; width:30px;"></div>
                    </td>
                </tr>
            </table>
            <div style="margin:40px 40px 40px 60px;background-color: #f5f8fa;">
                <table class="footer" style="background-color: #f5f8fa;">
                    <tr class="help"
                        style="object-fit: contain; font-size: 14px;  font-weight: bold;  font-style: normal;  font-stretch: normal;  line-height: 1.43;  letter-spacing: normal;  text-align: center;  color: #1a1a1a;text-transform: uppercase;">
                        <td>help center</td>
                        <td>
                            <div class="split-help" style="line-height:13px;height:20px;padding:0px 70px;">.</div>
                        </td>
                        <td>support 24/7</td>
                        <td>
                            <div class="split-help" style="line-height:13px;height:20px;padding:0px 70px;">.</div>
                        </td>
                        <td>account</td>
                    </tr>
                    <tr class="copyright"
                        style="object-fit: contain; font-family: Montserrat; font-size: 17px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.53; letter-spacing: normal; text-align: center; color: #a0a1a2;margin-top:35px;">
                        <td colspan="5">Copyright © 2019 Achiezy. All Rights Reserved. We appreciate you!</td>
                    </tr>
                    <tr class="contact" align="center"
                        style="object-fit: contain; font-family: Montserrat; font-size: 17px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.53; letter-spacing: normal; text-align: center;color:#383939">
                        <td colspan="5"><span style="margin-left:40px;">help@achiezy.com</span><span
                                style="color:#a0a1a2;margin:0px 15px;">|</span><span>1(800)232-90-26</span><span
                                style="color:#a0a1a2;margin:0px 15px;">|</span><span>Unsubscribe</span></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="height:35px"></div>
                        </td>
                    </tr>
                    <tr class="connect" align="center" style="padding-top:35px;">
                        <td class="img-connect" colspan="5">
                            <div align="center">
                                <img src="cid:insta" style="width:19px; height:19px;margin-left:15px"/>
                                <img src="cid:face" style="width:19px; height:19px;margin: 0px 40px;"/>
                                <img src="cid:twit" style="width:19px; height:19px;margin-right: 40px;"/>
                                <img src="cid:gg" style="width:25px; height:19px;"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>