<table style="width: 750px; height: 934px; background-color: #f5f8fa;padding:25px">
    <tr>
        <td>
            <table style="width: 700px; height: 675px; background-color: #ffffff;padding:0px 40px;">
                <tr>
                    <td>
                        <img src="cid:logo"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="object-fit: contain;  font-family: BebasNeue;  font-size: 52px;  font-weight: normal;  font-style: normal;  font-stretch: normal;  line-height: 1.04;  letter-spacing: -1.5px;  text-align: center;  color: #1a1a1a;">Please confirm subscription</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="object-fit: contain;  opacity: 0.7;  font-family: Montserrat;  font-size: 36px;  font-weight: 200;  font-style: normal;  font-stretch: normal;  line-height: 1.25;  letter-spacing: -1px;  color: #1a1a1a;">Need to reset your password? No problem. Just click below to get started.</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="cid:button"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="object-fit: contain;  font-family: Montserrat;  font-size: 36px;  font-weight: 200;  font-style: normal;  font-stretch: normal;  line-height: 1.25;  letter-spacing: -1px;  text-align: center;  color: #22242a;">Amazing deals, updates, interesting news right in your inbox.</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="object-fit: contain;  font-family: Montserrat;  font-size: 17px;  font-weight: normal;  font-style: normal;  font-stretch: normal;  line-height: 1.35;  letter-spacing: normal;  text-align: center;  color: #8d92a3;">If you didn’t request to change your Mailto password, simply delete this email.You doIf you received this email by mistake, simply delete it. You won't be subscribed if you don't click the confirmation link above.n’t have to do anything. So that’s easy.</span>
                    </td>
                </tr>
            </table>
            <div style="margin:40px 40px 40px 60px;background-color: #f5f8fa;">
                <table class="footer" style="background-color: #f5f8fa;">
                    <tr class="help" style="object-fit: contain; font-size: 14px;  font-weight: bold;  font-style: normal;  font-stretch: normal;  line-height: 1.43;  letter-spacing: normal;  text-align: center;  color: #1a1a1a;text-transform: uppercase;">
                        <td>help center</td><td><div class="split-help" style="line-height:13px;height:20px;padding:0px 70px;">.</div></td><td>support 24/7</td><td><div class="split-help" style="line-height:13px;height:20px;padding:0px 70px;">.</div></td><td>account</td>
                    </tr>
                    <tr class="copyright" style="object-fit: contain; font-family: Montserrat; font-size: 17px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.53; letter-spacing: normal; text-align: center; color: #a0a1a2;margin-top:35px;"><td colspan="5">Copyright © 2019 Achiezy. All Rights Reserved. We appreciate you!</td></tr>
                    <tr class="contact" align="center" style="object-fit: contain; font-family: Montserrat; font-size: 17px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.53; letter-spacing: normal; text-align: center;color:383939">
                        <td colspan="5"><span style="margin-left:40px;">help@achiezy.com</span><span style="color:#a0a1a2;margin:0px 15px;">|</span><span>1(800)232-90-26</span><span style="color:#a0a1a2;margin:0px 15px;">|</span><span>Unsubscribe</span></td>
                    </tr>
                    <tr><td><div style="height:35px"></div></td></tr>
                    <tr class="connect" align="center" style="padding-top:35px;">
                        <td class="img-connect" colspan="5">
                            <div align="center">
                                <img src="cid:insta" style="width:19px; height:19px;margin-left:15px"/>
                                <img src="cid:face" style="width:19px; height:19px;margin: 0px 40px;"/>
                                <img src="cid:twit" style="width:19px; height:19px;margin-right: 40px;"/>
                                <img src="cid:gg" style="width:25px; height:19px;"/>
                            </div>
                        </td>
                    </tr>
                </table></div>
        </td>
    </tr>
</table>