<html>
<body>
<p style="  font-size: 28px;  font-weight: bold;color: #007aff;">Contract</p>
This agreement is entered in by and 
between: Vinadong Coaching & Consulting LLC, Coach {0}, and Client {1} whereby
 Coach agrees to provide Coaching 
Services for Client focusing on the 
following objective:<br/>
{2}
<p>measuring by the following key results:
{3}
</p>
<p style="font-size: 28px;  font-weight: bold;color:#22242a;">Description of Coaching:</p>
<p>
Coaching is partnership (defined as an alliance, not a legal business 
partnership) between the Coach and the Client in a thought-provoking and creative process that 
inspires the client to maximize personal and professional potential. It is designed to facilitate the 
creation/development of personal, professional or business goals and to develop and carry out a 
strategy/plan for achieving those goals.
</p>
<p><b>1) Coach-Client Relationship</b></p>
<p>A. Coach agrees to maintain the ethics and standards of behavior established by the International Coach Federation “(ICF)”.</p>
<p>B. Client is solely responsible for creating and implementing his/her own physical, mental and emotional well-being, decisions, choices, actions and results arising out of or resulting from the coaching relationship and his/her coaching calls and interactions with the Coach. As such, the Client agrees that the Coach is not and will not be liable or responsible for any actions or inaction, or for any direct or indirect result of any services provided by the Coach. Client understands coaching is not therapy and does not substitute for therapy if needed, and does not prevent, cure, or treat any mental disorder or medical disease.</p>
<p>C. Client further acknowledges that he/she may terminate or discontinue the coaching relationship at any time. </p>
<p>D. Client acknowledges that he/she may request another coach at any time.</p>
<p>E. Client acknowledges that coaching is a comprehensive process that may involve different areas of his or her life, including work, finances, health, relationships, education and recreation. The Client agrees that deciding how to handle these issues, incorporate coaching principles into those areas and implementing choices is exclusively the Client’s responsibility.</p>
<p>F. Client acknowledges that coaching does not involve the diagnosis or treatment of mental disorders as defined by the American Psychiatric Association and that coaching is not to be used as a substitute for counseling, psychotherapy, psychoanalysis, mental health care, substance abuse treatment, or other professional advice by legal, medical or other qualified professionals and that it is the Client’s exclusive responsibility to seek such independent professional guidance as needed. If Client is currently under the care of a mental health professional, it is recommended that the Client promptly inform the mental health care provider of the nature and extent of the coaching relationship agreed upon by the Client and the Coach.</p>
<p>G. The Client understands that in order to enhance the coaching relationship, the Client agrees to communicate honestly, be open to feedback and assistance and to create the time and energy to participate fully in the program.</p>
<p><b>2) Services</b></p>
<p>
The parties agree to engage in a {4} sessions Coaching Program. Coach will be available to Client via CHAT using the mobile app. Coach may also be available for additional time, per Client’s request on a prorated basis rate.
</p>
<p><b>3) Schedule and Fees</b></p>
<p>
This coaching agreement is valid as of {5}.<br/>
Number of sessions: {4}<br/>
Repeat: {6}<br/>
Start date/time: {7}<br/>
Session duration: {8}<br/>
Payment plan: {9}<br/>
Fee: {10}<br/>
If rates change before this agreement has been signed and dated, the prevailing rates will apply.
</p>
<p><b>4) Procedure</b></p>
<p>
The time of the coaching meetings and/or location will be determined by Coach and Client based on a mutually agreed upon time. The Client will initiate all scheduled calls and will call the Coach at the provided number for all scheduled meetings. If the Coach will be at any other number for a scheduled call, Client will be notified prior to the scheduled appointment time. 
Client will use the mobile app to chat with the Coach, manage action items, and manage sessions.
</p>
<p><b>5) Confidentiality</b></p>
<p>
This coaching relationship, as well as all information (documented or verbal) that the Client shares with the Coach as part of this relationship, is bound by the principles of confidentiality. However, please be aware that the Coach-Client relationship is not considered a legally confidential relationship (like the medical and legal professions) and thus communications are not subject to the protection of any legally recognized privilege. The Coach agrees not to disclose any information pertaining to the Client without the Client’s written consent. The Coach will not disclose the Client’s name as a reference without the Client’s consent. 
Confidential Information does not include information that: (a) was in the Coach’s possession prior to its being furnished by the Client; (b) is generally known to the public or in the Client’s industry; (c) is obtained by the Coach from a third party, without breach of any obligation to the Client; (d) is independently developed by the Coach without use of or reference to the Client’s confidential information; or (e) the Coach is required by statute, lawfully issued subpoena, or by court order to disclose; (f) is disclosed to the Coach and as a result of such disclosure the Coach reasonably believes there to be an imminent or likely risk of danger or harm to the Client or others; and (g) involves illegal activity. The Client also acknowledges his or her continuing obligation to raise any confidentiality questions or concerns with the Coach in a timely manner.
</p>
<p><b>6) Cancellation Policy</b></p>
<p>
Client agrees that it is the Client's responsibility to notify the Coach 24 hours in advance of the scheduled calls/meetings. Coach reserves the right to bill Client for a missed meeting. Coach will attempt in good faith to reschedule the missed meeting.
</p>
<p><b>7) Termination</b></p>
<p>
Either the Client or the Coach may terminate this Agreement at any time with 2 weeks written notice. Client agrees to compensate the Coach for all coaching services rendered through and including the effective date of termination of the coaching relationship.
</p>
<p><b>8) Limited Liability</b></p>
<p>
Except as expressly provided in this Agreement, the Coach makes no guarantees, representations or warranties of any kind or nature, express or implied with respect to the coaching services negotiated, agreed upon and rendered. In no event shall the Coach be liable to the Client for any indirect, consequential or special damages. Notwithstanding any damages that the Client may incur, the Coach’s entire liability under this Agreement, and the Client’s exclusive remedy, shall be limited to the amount actually paid by the Client to the Coach under this Agreement for all coaching services rendered through and including the termination date.
</p>
<p><b>9) Entire Agreement</b></p>
<p>
This document reflects the entire agreement between the Coach and the Client, and reflects a complete understanding of the parties with respect to the subject matter. This Agreement supersedes all prior written and oral representations. The Agreement may not be amended, altered or supplemented except in writing signed by both the Coach and the Client.
</p>
<p><b>10) Dispute Resolution</b></p>
<p>
If a dispute arises out of this Agreement that cannot be resolved by mutual consent, the Client and Coach agree to attempt to mediate in good faith for up to 30 days after notice given. If the dispute is not so resolved, and in the event of legal action, the prevailing party shall be entitled to recover attorney’s fees and court costs from the other party.
</p>
<p><b>11) Severability</b></p>
<p>
If any provision of this Agreement shall be held to be invalid or unenforceable for any reason, the remaining provisions shall continue to be valid and enforceable. If the Court finds that any provision of this Agreement is invalid or unenforceable, but that by limiting such provision it would become valid and enforceable, then such provision shall be deemed to be written, construed, and enforced as so limited.
</p>
<p><b>12) Waiver</b></p>
<p>
The failure of either party to enforce any provision of this Agreement shall not be construed as a waiver or limitation of that party's right to subsequently enforce and compel strict compliance with every provision of this Agreement.
</p>
<p><b>13) Applicable Law</b></p>
<p>
This Agreement shall be governed and construed in accordance with the laws of the State of California, without giving effect to any conflicts of laws provisions.
</p>
<p><b>14) Binding Effect</b></p>
<p>
This Agreement shall be binding upon the parties hereto and their respective successors and permissible assigns.
</p>
</body>
</html>